<!DOCTYPE html>
<html>
    <head>
        <title>Merbill</title>
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/stylesheets/app.css'>
    </head>
    <body>

        <img src='<%=image%>'>

    </body>

</html>